.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
}
.navbar {
    background-color: #2f3c53;
    border: 1px solid #2f3c53;
    border-radius: 0;
    a {
        // color: #9d9d9d;
        color: white;
    }
}
.f-left{
    float: left;
}